<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>註冊系統</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h2>註冊</h2>
    <form action="/register" method="post">
        <label for="username">帳號:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">密碼:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">確認</button>
    </form>
    <br>
    <p>有帳號嗎？<a href="/">登入</a></p>
</body>
</html>
